<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Onboarding Success</title>
</head>
<body>

<p>Hi Team,</p>

<p>Please find the CDF for <b><%=storeName%></b>.</p>
<p>Thank You,<p>
<b><%=agentName%></b>
</body>
</html>