<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Title</title>
</head>
<body>

<p>Dear <%=name%>,</p>

<p>ok!</p>

<p>We are pleased to offer you the position of Software Engineer at 1K Kirana Bazaar (Odicea Distribution
    Technologies Pvt. Ltd.).</p>

<p>Please find attached herewith the offer letter for the same. This offer will be valid for 72 Hours 
    from the date of this letter. If this offer of employment is acceptable to you, please let us know your
    acceptance of employment by confirming via email within 72 Hours of receiving this letter. If we do not hear
    back from you within this period this offer will be deemed to be canceled and we are not obliged to hold the
    position open for you.</p>
</body>
</html>